* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background-color: #191919;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    
    min-height: 100vh;
}

body img {
    width: 10rem;
}

.start {
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #FFF;
    background-color: #54B435;
}

.arrows-container {
    display: none;
    width: 100%;
    height: 150px;
    position: relative;
}

.arrows-container img {
    width: 50px;
    position: absolute;
}

.up-arrow {
    top: 0;
    left: 180px;
}

.left-arrow {
    right: 235px;
    top: 50px;
}

.right-arrow {
    left: 230px;
    top: 50px;
}

.down-arrow {
    bottom: 0;
    left: 180px;
}

#game-screen {
    background-color: #333;
    border-radius: 10px;
    width: 80%;
    margin-top: 12rem;
}

.pressed {
    animation: pressed 0.3s linear;
}

@keyframes pressed {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.85);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 768px) {
    #game-screen {
        width: 40%;
    }
}